{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="big_register">
    <div class="register">
        <h2>Войти</h2>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>  
    </div>
</div>
{% endblock %}