{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block body %}
<div class="big_register">
    <div class="register">
        <h2>Регистрация</h2>
            <form action="/register" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>

                <button type="submit">Register</button>
            </form>
    </div>
</div>

{% endblock %}