{% extends 'base2.html' %}

{% block title %}
{{ teacher.name }}
{% endblock %}

{% block body %}
<div class="container">
    <div class="teacher-detail">
        <h1>{{ teacher.name }}</h1>
        <div class="teacher-photo">
            {% if teacher.photo %}
                <img src="data:image/jpeg;base64,{{ teacher.photo | b64encode }}" alt="{{ teacher.name }}">
            {% else %}
                <img src="{{ url_for('static', filename='no-photo.jpg') }}" alt="No photo available">
            {% endif %}
        </div>
        <div class="teacher-info">
            <h2>{{ teacher.job_title }}</h2>
        </div>

        <h2>Средний рейтинг:</h2>
        <div class="average-rating">
            {% for i in range(5) %}
                {% if i < teacher.average_rating %}
                    <span class="star filled">&#9733;</span>
                {% else %}
                    <span class="star">&#9734;</span>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="review_list">
        <h2>Отзывы</h2>
        <ul>
            {% for review in teacher.reviews | sort(attribute='created_at', reverse=True) %}
                <li>
                    <strong>{{ 'Anonymous' if review.is_anonymous else review.author }}</strong> - {{ review.created_at.strftime('%Y-%m-%d') }}
                    <div class="rating2">
                        {% for i in range(5) %}
                            {% if i < review.rating %}
                                <span class="star filled">&#9733;</span>
                            {% else %}
                                <span class="star">&#9734;</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p>{{ review.content }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="add_review1">
        <h2>Добавить отзыв</h2>
        {% if is_authenticated %}
            <div class="review_about">
                <form method="POST" action="{{ url_for('add_review', teacher_id=teacher.id) }}" id="review-form">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.content.label }}<br>
                        {{ form.content(rows=5, cols=40) }}
                    </div>
                    <div class="rating">
                        <div class="stars">
                            {% for i in range(5) %}
                                <input type="radio" id="star{{ i + 1 }}" name="rating" value="{{ i + 1 }}" class="star-input" required>
                                <label for="star{{ i + 1 }}" class="star">&#9733;</label>
                            {% endfor %}
                        </div>
                    </div>
                    <div>
                        {{ form.is_anonymous.label }}<br>
                        {{ form.is_anonymous }}
                    </div>
                    <div>
                        {{ form.submit() }}
                    </div>
                </form>
            </div>
        {% else %}
            <p>Вы должны <a href="{{ url_for('login') }}">войти</a>, чтобы оставить отзыв.</p>
        {% endif %}
    </div>
</div>
{% endblock %}


